altair==6.0.0
anaconda-anon-usage @ file:///home/task_176160626771849/conda-bld/anaconda-anon-usage_1761606317374/work
anaconda-auth @ file:///home/task_175994313587130/conda-bld/anaconda-cloud-auth-split_1759943195502/work
anaconda-cli-base @ file:///home/task_176229490936432/conda-bld/anaconda-cli-base_1762294961417/work
annotated-types @ file:///home/task_176174487847081/conda-bld/annotated-types_1761744928471/work
anyio==4.12.1
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
attrs==26.1.0
beautifulsoup4==4.14.3
blinker==1.9.0
boltons @ file:///croot/boltons_1751383775419/work
brotlicffi @ file:///home/task_176174499757332/conda-bld/brotlicffi_1761745021887/work
cachetools==7.0.5
certifi @ file:///home/task_176313455153976/conda-bld/certifi_1763135329031/work/certifi
cffi @ file:///home/task_176183214835616/conda-bld/cffi_1761832774688/work
charset-normalizer @ file:///home/task_176174481524083/conda-bld/charset-normalizer_1761744828711/work
click @ file:///croot/click_1744271578095/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
conda @ file:///home/task_176045791080537/conda-bld/conda_1760457922380/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///croot/conda-anaconda-tos_1755123313635/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1728487058234/work
conda-libmamba-solver @ file:///opt/miniconda3/conda-bld/conda-libmamba-solver_1761744809966/work/src
conda-package-handling @ file:///home/task_176236637997838/conda-bld/conda-package-handling_1762366405159/work
conda_package_streaming @ file:///home/task_176236152622180/conda-bld/conda-package-streaming_1762361633858/work
contourpy==1.3.3
cryptography @ file:///home/task_176193173929288/conda-bld/cryptography-split_1761931963149/work
curl_cffi==0.13.0
cycler==0.12.1
dash==4.1.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1758162048/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
distro @ file:///work/perseverance-python-buildout/croot/distro_1728396110052/work
docutils==0.22.4
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
Flask==3.1.3
fonttools==4.60.1
frozendict @ file:///home/task_176175049677026/conda-bld/frozendict_1761750665451/work
gitdb==4.0.12
GitPython==3.1.46
h11==0.16.0
idna @ file:///home/task_176191175488988/conda-bld/idna_1761911981595/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1761567932/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1762350942/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
itsdangerous==2.2.0
jaraco.classes @ file:///croot/jaraco.classes_1755516327832/work
jaraco.context @ file:///io/perseverance-python-buildout/croot/jaraco.context_1731706750665/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
Jinja2==3.1.6
joblib==1.5.3
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728399595941/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring @ file:///croot/keyring_1745484691218/work
kiwisolver==1.4.9
libmambapy @ file:///home/task_175762302885340/conda-bld/mamba-split_1757623046707/work/libmambapy
loro==1.10.3
Markdown==3.10.2
markdown-it-py @ file:///croot/markdown-it-py_1756299186942/work
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl @ file:///home/task_175855216352428/conda-bld/mdurl_1758552176751/work
menuinst @ file:///home/task_176286076141668/conda-bld/menuinst_1762860806977/work
more-itertools @ file:///home/task_176112148319406/conda-bld/more-itertools_1761121494880/work
msgspec==0.20.0
multitasking==0.0.12
narwhals==2.17.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
nltk==3.9.2
numpy==2.3.5
packaging @ file:///home/task_176104878999627/conda-bld/packaging_1761049078606/work
pandas==3.0.1
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
peewee==4.0.3
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow==12.0.0
pkce @ file:///work/perseverance-python-buildout/croot/pkce_1728388093137/work
platformdirs @ file:///home/task_176235602006708/conda-bld/platformdirs_1762356487962/work
plotly==6.7.0
pluggy @ file:///croot/pluggy_1733169602837/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
protobuf==7.34.1
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1762092897/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==23.0.1
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///home/task_175749564936714/conda-bld/pycparser_1757496040682/work
pydantic @ file:///home/task_176250531594496/conda-bld/pydantic_1762505362412/work
pydantic-settings @ file:///home/task_175878416925449/conda-bld/pydantic-settings_1758784193926/work
pydantic_core @ file:///home/task_176059738185733/conda-bld/pydantic-core_1760597433577/work
pydeck==0.9.1
Pygments @ file:///home/task_176243137807904/conda-bld/pygments_1762431407645/work
PyJWT @ file:///io/buildout/croot/pyjwt_1739558969999/work
pymdown-extensions==10.21
pyparsing==3.2.5
PySocks @ file:///home/task_176175235884818/conda-bld/pysocks_1761753009495/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1757387023/work
readchar @ file:///home/task_176061336965958/conda-bld/readchar_1760613437376/work
referencing==0.37.0
regex==2025.11.3
requests @ file:///home/task_176235918788486/conda-bld/requests_1762359591632/work
retrying==1.4.2
rich @ file:///home/task_176037557612320/conda-bld/rich_1760375632000/work
rpds-py==0.30.0
ruamel.yaml @ file:///home/task_176253595903435/conda-bld/ruamel.yaml_1762535972567/work
ruamel.yaml.clib @ file:///home/task_176253026438192/conda-bld/ruamel.yaml.clib_1762530278005/work
ruby==0.0.2
scipy==1.16.3
SecretStorage @ file:///home/task_175793143758247/conda-bld/secretstorage_1757931467244/work
semver @ file:///home/task_176190313959014/conda-bld/semver_1761903196627/work
setuptools==80.9.0
shellingham @ file:///home/task_176191203629823/conda-bld/shellingham_1761912204430/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.3
soupsieve==2.8.3
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.52.1
streamlit==1.56.0
tabulate==0.10.0
tenacity==9.1.4
toml==0.10.2
tomli @ file:///croot/tomli_1753774587605/work
tomlkit==0.14.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1762506745858/work
tqdm @ file:///home/task_176286304944547/conda-bld/tqdm_1762863349742/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
truststore @ file:///home/task_176252074050774/conda-bld/truststore_1762520903993/work
typer @ file:///home/task_175758067631213/conda-bld/typer_1757580709537/work
typing-inspection @ file:///home/task_176061348700415/conda-bld/typing-inspection_1760614166875/work
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
urllib3 @ file:///croot/urllib3_1750775463400/work
uv==0.10.6
uvicorn==0.41.0
watchdog==6.0.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
websockets==16.0
Werkzeug==3.1.8
wheel==0.45.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard @ file:///home/task_175818846949212/conda-bld/zstandard_1758189073015/work
